<!-- <footer class="container" style="text-align: center; bottom: 0; height: 15vh;">
    Copyright
</footer> -->

<footer class="footer py-3 bg-dark">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-light">About</a></li>
      <li class="nav-item"><a href="/community" class="nav-link px-2 text-light">Community</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted disabled">Coming Soon</a></li>
    </ul>
    <p class="text-center text-light">&copy; 2022 FitLog, Inc</p>
  </footer>
</body>
</html>