<%-include("partials/header")%>
<div class="starter-template text-center">
  <h1>About Us</h1>
  <p class="lead">We are Software Developers who all share a passion for Fitness.</p>
</div>

<!-- /.container -->
<%-include("partials/footer")%>