<%-include("partials/header")%>

<section class="grad-bg py-4 py-md-1">
  <div class="container-lg">
    <div class="row min-vh-100 align-content-center align-items-center" >
      <h1 class="text-center text-danger mt-5 mt-md-0 fs-1 fs-md-4"><i class="fa-regular fa-id-card"></i> About Us</h1>
        <p class="lead mt-3">
          Welcome to FitLog! We are a team of Computer Science college students passionate about staying fit and healthy.
          We understand the importance of competition and the power of tracking personal records (PR's). 
          That is why we created this web app to help weight lifters of all level set, track, and compare their lifting personal records.
        </p>
        <p class="lead">
          This simple app makes it easy to keep track of your best/heaviest weight for each exercise.
          We are dedicated to helping our users reach their fitness goals and stay motivated.
        </p>
        <p class="lead">
          We believe that competition can be beneficial and healthy.
          With FitLog, you can challenge your friends and yourself to reach higher goals and heavier PR's.
          We are committed to bringing you the best user experience possible. We are constantly working to improve the app and add new features.
        </p>
        <p class="lead mb-5 mb-md-0">
          Thank you for being part of the FitLog community!
        </p>
    </div>
  </div>
</section>

<!-- /.container -->
<%-include("partials/footer")%>