<%-include("partials/header")%>

<div class="grad-bg d-flex justify-content-center align-items-center pt-3 pt-md-0 pb-5" style="height: 100vh;">
  <div class="container d-flex justify-content-center"">
    <div class="starter-template pt-5" >
      <h1 class="text-center mb-4"><i class="fa-regular fa-id-card"></i> About Us</h1>
        <p class="lead">
          Welcome to FitLog! We are a team of Computer Science college students passionate about staying fit and healthy.
          We understand the importance of competition and the power of tracking personal records (PR's). 
          That is why we created this web app to help weight lifters of all level set, track, and compare their lifting personal records.
        </p>
        <p class="lead">
          This simple app makes it easy to keep track of your best/heaviest weight for each exercise.
          We are dedicated to helping our users reach their fitness goals and stay motivated.
        </p>
        <p class="lead">
          We believe that competition can be beneficial and healthy.
          With FitLog, you can challenge your friends and yourself to reach higher goals and heavier PR's.
          We are committed to bringing you the best user experience possible. We are constantly working to improve the app and add new features.
        </p>
        <p class="lead">
          Thank you for being part of the FitLog community!
        </p>
    </div>
  </div>
</div>

<!-- /.container -->
<%-include("partials/footer")%>