<%-include("partials/header")%>


<div class="container d-flex justify-content-center" style="height: 100vh;">
  <div class="starter-template text-center pt-5" >
    <h1>About Us</h1>
    <p class="lead">We are Software Developers who all share a passion for Fitness.</p>
  </div>
</div>

<!-- /.container -->
<%-include("partials/footer")%>