<%-include("partials/header")%>

<main id="site-main" style="height: 100vh;" class="d-flex align-items-center bg-light">
    <div class="container text-center">
        <h1 class="mb-3">Most Active Users</h1>
    </div>
</main>
<%-include("partials/footer")%>