<%-include("partials/header")%>

<main id="site-main" class="grad-bg table-div-height-home d-flex flex-column justify-content-center align-items-center py-4 py-md-2">
    <div class="container">
        <div class="d-flex justify-content-center mt-5 mt-md-0"><img src="images/FL-logo-crop.png" alt="FitLog logo" class="img-fluid w-md-25"></div>
        <h1 class="display-4 text-danger font-weight-bold mt-5">Welcome to the Ultimate Fitness Companion, FitLog!</h1>
        <p class="lead text-dark mt-4">
            Our web app is designed to help you achieve your fitness goals and more.
            With our smart Personal Record (PR) tracking system, easily monitor your fitness progress and see your numbers go up over time.
            We also give you the ability to compare your records with others in our fitness community, providing you with the motivation you need to keep pushing yourself. 
            Click below to find out more!
        </p>
        <div class="d-flex justify-content-center mt-4 mb-5">
            <a href="/community" class="btn btn-danger btn-lg mb-3 tex">Find Community</a>
        </div>
    </div>
</main>


<%-include("partials/footer")%>