<%- include('partials/header') %>

<main style="height: 100vh;" class="bg-light grad-bg">
    <img src="" alt="">
    <div class="container">
        <form action="/workouts"  method="POST">
            <div class="table-responsive px-2">
                <table class="table w-auto mx-auto">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Exercise</th>
                            <th>Weight</th>
                            <th>Comment</th>
                            <th>Date</th>  
                            <th></th>      
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">
                            <td><input type="text" id="name" name="name" placeholder="Name"></td>
                            <td><input class="input" type="text" id="exercise" name="exercise" placeholder="Exercise"></td>
                            <td><input class="input" type="number" id="weight" name="weight" placeholder="Weight"></td>
                            <td><input class="input" type="text" id="comment" name="comment" placeholder="Comment"></td>
                            <td><input class="input" type="date" id="date" name="date" placeholder="Date"></td>
                            <td>
                                <button class="btn btn-dark btn-outline-danger text-light update py-1 px-2">
                                    SUBMIT
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="box-nav text-center d-flex flex-column">
            <a href="/">
                <%-include("partials/btn_feed")-%>
            </a>
        </div>

    </div>
</main>

<%- include('partials/footer') %>