<%- include('partials/header') %>

<main id="site-main" style="height: 100vh;" class="bg-light">
    <img src="" alt="">
    <div class="container">
        <form action="/workouts"  method="POST">
            <table class="table">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>Name</th>
                        <th>Exercise</th>
                        <th>Weight</th>
                        <th>Comment</th>
                        <th>Date</th>
                        <th>Action</th>
       
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <td><input style="background-color: transparent; width: 110px; border-radius: 1px; text-align: center;" type="text" id="name" name="name" placeholder="name"></td>
                        <td><input style="background-color: transparent; width: 110px; border-radius: 1px; text-align: center;" class="input" type="text" id="exercise" name="exercise" placeholder="exercise"></td>
                        <td><input style="background-color: transparent; width: 110px; border-radius: 1px; text-align: center;" class="input" type="number" id="weight" name="weight" placeholder="weight"></td>
                        <td><input style="background-color: transparent; width: 110px; border-radius: 1px; text-align: center;" class="input" type="text" id="comment" name="comment" placeholder="comment"></td>
                        <td><input style="background-color: transparent; width: 110px; border-radius: 1px; text-align: center;" class="input" type="date" id="date" name="date" placeholder="date"></td>
                        <td>
                            <button class="btn border-shadow update">
                                SUBMIT
                            </button>
                         </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="box-nav text-center d-flex flex-column">
            <a href="/">
                <button class="btn btn-dark">Return Home <i class="fa-solid fa-house"></i></button>
            </a>
        </div>

    </div>
</main>

<%- include('partials/footer') %>