.popover {
    color: #fff; /* change font color */
    border-color: #332D2D;
    text-align: center;
  }
.popover-header {
    background-color: #332D2D; /* change background color */
    color: #fff; /* change font color */
    border-color: #fff;
}
.popover-content {
    color: #fff;
}

.table-div-height-community {
    height: 100vh;
}

.table-div-height-feed {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .table-div-height-community {
        height: 200vh;
    }
    .table-div-height-feed {
        height: 140vh;
    }

}

.grad-bg {
    background-image: url(../images/fire-highlight-bg.png), linear-gradient(to left top, #6c757d, #7e868e, #90979f, #a2a9b0,#b5bbc2, #c1c6cd, #ccd2d7, #d8dde2, #e0e4e8, #e8ebee, #f0f2f4, #f8f9fa);
    background-size: cover;
    background-position: center;
}
