.popover {
    color: #fff; /* change font color */
    border-color: #332D2D;
    text-align: center;
  }
.popover-header {
    background-color: #332D2D; /* change background color */
    color: #fff; /* change font color */
    border-color: #fff;
}
.popover-content {
    color: #fff;
}

.table-div-height-community {
    height: 100vh;
}

.table-div-height-feed {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .table-div-height-community {
        height: 200vh;
    }
    .table-div-height-feed {
        height: 140vh;
    }

}
